* {
	margin: 0px;
	padding: 0px;
}

body {
	background: url("img/11_.jpg");
	background-size: 100%;
	background-position: center;
	background-attachment: fixed; 
	font-family: 'Cuprum';
	display: flex;
	justify-content: center;
}

.info img {
	max-width: 250px;
}

.main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 60%;
	min-width: 300px;
	padding: 20px 0;
}

a {
	text-decoration: none;
}

.header {
	width: 100%;
	background-color: #deb36a;
}

.header *{
	margin: 0px;
	padding: 0px;
}

.header ul {
	border: 1px solid #d1a75f;
	list-style: none;
}

.header > ul { 
	display: flex;
	justify-content: center;
}

.header li {
	width: 100%;
	border: 1px solid #d1a75f;
}

.header ul li a {
	display: block;
	background: #deb36a;
	text-align: center;
	padding: 10px 0;
	font-size: 14px;
	color: #533936;
	transition: all 0.3s ease;
}

.header li a:hover {
	background: #533936;
	box-shadow: 1px 5px 10px -5px black;
	color: #deb36a;
}

.info {
	background: #f2e4b8;
	padding: 50px;
	height: 100%;
}


.info a {
	color: #000;
	font-weight: bold;
	transition: all 0.1s ease;
}

.info a:hover {
	color: #d1a75f;
}

.info img {
	float: left;
	margin: 10px;
}

.info ul {
	list-style: none;
}

.info ul li {
	margin-bottom: 10px;
}

.header > ul > li > ul {
	position: absolute;
	display: none;
}

.header li > ul li a{
	padding: 10px;
	text-transform: none;
} 

.header li:hover > ul {
	display: block;
}

h1, h2, h3 {
	margin: 15px 0;
}

.info p {
	margin: 10px 0;
}

.img1 {
	float: left;
	width: 100.5px;
	height: 160px;
	margin: 5px;
}


.ul1 {
	display: inline-block;
	list-style: none;

}

.caption4 {
	display: block;
	font-size: 20px;
	font-style: italic;
}

.caption5 {
	text-decoration: underline;
	text-transform: uppercase;
}

.india2 {
	font-style: italic;
}

